
.slide-zone{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    height: 300px;
    background: rgb(74, 74, 71);
    position: relative;
    /* padding: 75px 0 75px 0; */
    z-index: 1;
}

.slide-img{
  width: 50px;
  height: 100px;
  top: 100px;
  right: 0px;
  padding: 0;
  z-index: 2;
  position: absolute;
  }

.whitebox_left{
    width: 200px;
    height: 300px;
    top: 0;
    left: 0;
    background: #FFF;
    z-index: 3;
    position: absolute;
    text-align: center;
}
.player-img{
  width: 200px;
  height: 300px;
}
.oni-img{
  width: 200px;
  height: 300px;
}

.whitebox_right{
    width: 200px;
    height: 300px;
    top: 0;
    right: 0;
    background: #FFF;
    z-index: 3;
    position: absolute;
    text-align: center;
}  


.drum-img{
    width: 150px;
    height: 250px;
    top: 25px;
    left: 200px;
    z-index: 1;
    position: absolute;
}

.player-life-frame,.oni-life-frame{
  margin: 0 auto;
  width: 200px;
  background-color: rgba(10, 0, 50, 0.6);
  display: flex;
  padding: 3px 3px;
}

.player-life-bar,.oni-life-bar{
  width:100%;
  height: 3px;
  background-color: rgb(0, 255, 255);
  transition: 300ms
}

.player-life-mark, .oni-life-mark{
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  filter: saturate(500%);
  box-shadow: 0 0 5px 3px rgb(200, 255, 255),
              0 0 7px 7px rgb(100, 255, 255);
}




.video-zone{
    text-align: center;
    margin: 30px 0 0 0 ;
    padding: auto;
    width: 100%;
}

video{
    padding: auto;
    background: #000000;
    }



/* 以下スタートボタンコピペ */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.start{
    flex-basis: 80%;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.start button{
    flex-basis: 32%;
    list-style-type: none;
}

.btn {
    font-size: 40px;
    color: #fff;
    padding: 20px 50px;
    border-radius: 50px;
    z-index: 2;
    will-change: transform, filter;
    transform-style: preserve-3d;
    transition: all .3s ease-out;
    position:fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  .btn::before {
    content: "";
    height: 40px;
    /* display: inline-block; */
    /* position: absolute; */
    left: 30px;
    right: 30px;
    bottom: -5px;
    z-index: -1;
    border-radius: 50px;
    opacity: .8;
    filter: blur(15px);
    transform-style: preserve-3d; 
    transition: all .3s ease-out;
  }
  .btn:hover::before {
    bottom: 0;
    filter: blur(8px);
  }

  .gradient2,
  .gradient2::before {
    background: -moz-linear-gradient(left, #E96D71 0%, #FAD7A1 80%, #FAD7A1 100%);
    background: -webkit-linear-gradient(left, #E96D71 0%, #FAD7A1 80%, #FAD7A1 100%);
    background: linear-gradient(to right, #E96D71 0%, #FAD7A1 80%, #FAD7A1 100%);
  }


  /* 以下説明コピペ */

  /* body {
    font-family:Helvetica,Sans-serif;
  } */
  .rule{
    text-align: center;
    padding: 50px;
    margin: auto;
    position:fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width:800px;
    height:400px;
    background-color: #FFF;
    font-size:20px;
    font-weight:bold;
    line-height: 40px;
    z-index: 100;
  }


  
